$font: 'exo 2', sans-serif, monospace;

@mixin transition-ease($i) {
	transition: all #{$i}s ease-in-out;
}

$nav-txt: white;
$nav-txt-hover: white;

$nav-height: 80px;

$nav-bg: #662483;

$nav-item-bg: #74398E;
$nav-item-bg-hover: #a33bcf;

$nav-burger: white;
$nav-underline: white;

header {

	nav {
		position: absolute;
		left: 0;
		right: 0;
		z-index: 9999;

		.menu-nav {
			position: relative;
			height: $nav-height;
			transition: min-height 0.5s ease-in-out;
			min-height: 0vh;
			padding: 10px 7vw;
			background-color: $nav-bg;
			display: flex;
			justify-content: space-between;
			align-items: center;
			list-style: none;
			overflow-y: hidden;

			.menu-nav-item {
				display: flex;

				.menu-nav-link {
					padding: 15px;
					margin: 0 5px;
					background-color: $nav-item-bg;
					text-align: center;
					color: $nav-txt;
					font-size: 1.5rem;
					text-decoration: none;

					&:hover {
						background-color: $nav-item-bg-hover;
					}
				}

				.menu-nav-img {
					flex-grow: 0.5;
					display: flex;
					justify-content: center;
					align-items: center;

					img {
						height: 50px;
					}
				}
			}

			.menu {
				display: none;
			}
		}
	}
}

@media (max-width: 768px) {
	header {

		nav {

			.menu-nav {
				flex-direction: column;
				justify-content: flex-start;

				.menu-nav-item {
					display: flex;
					flex-direction: column;

					&:nth-child(3) {
						position: absolute;
						top: 15px;
					}

					&:nth-child(2) {
						margin-top: calc($nav-height + 15px);
					}

					.menu-nav-link {
						margin: 15px;

						&:hover {
							background-color: $nav-item-bg-hover;
						}
					}

					.menu-nav-img {
						flex-grow: 0.5;
						display: flex;
						justify-content: center;
						align-items: center;

						img {
							height: 50px;
						}
					}
				}

				&.expanded {
					min-height: calc(100vh - 40px);
				}

				.menu {
					display: block;
					position: absolute;
					top: calc($nav-height/2 - 20px);
					right: 16px;
					height: 40px;
					width: 40px;
					cursor: pointer;
					z-index: 99999;
					@include transition-ease(0.5);

					&burger {
						position: absolute;
						right: 6px;
						top: 16px;
						width: 24px;
						height: 2px;
						background: $nav-burger;
						@include transition-ease(0.5);

						&::before {
							content: '';
							position: absolute;
							top: -7px;
							width: 24px;
							height: 2px;
							background: $nav-burger;
							@include transition-ease(0.5);
						}

						&::after {
							content: '';
							position: absolute;
							top: 7px;
							width: 20px;
							height: 2px;
							background: $nav-burger;
							@include transition-ease(0.5);
						}

						&.open {
							transform: rotate(720deg);
							background: transparent;
							right: 3px;

							&::before {
								transform: rotate(45deg) translate(3px, 7px);
							}

							&::after {
								width: 24px;
								transform: rotate(-45deg) translate(3px, -7px);
							}
						}
					}
				}
			}
		}
	}
}