<header>
	<app-social-media-bar></app-social-media-bar>

	<nav>
		<div class="menu-nav">
			<div class="menu" (click)="toggleMenu()">
				<span class="menuburger"></span>
			</div>

			<div class="menu-nav-item">
				<a routerLink="/home" class="menu-nav-link">Home</a>

				<a class="menu-nav-link">Over Ons</a>
			</div>

			<div class="menu-nav-item">
				<div class="menu-nav-img">
					<img src="/assets/images/logo.png" title="logo van het berdijf">
				</div>
			</div>

			<div class="menu-nav-item">
				<a class="menu-nav-link">Reserveer</a>

				<a routerLink="login" class="menu-nav-link">Account</a>
			</div>
		</div>
	</nav>
</header>