$font: 'exo 2', sans-serif, monospace;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1440px;

@mixin dditems($i) {
	height: 54px * $i;
}

@mixin transition-ease($i) {
	transition: all #{$i}s ease-in-out;
}

$nav-txt: white;
$nav-txt-hover: white;
$nav-bg: #800080;
$nav-bg2: #B800B8;
$nav-bg3: #B800B8;
$nav-burger: white;
$nav-underline: white;
$submenu-items1: 2; //! LET OP! Vul altijd het aantal links in die onder dit submenu komen
$submenu-items2: 2; //* OPTIONEEL als er 2 dropdown menu's zijn.

nav {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999;
	background-color: transparent;
	border: none;

	.menu-nav {
		display: flex;

		&-link {
			color: $nav-txt !important;
			text-decoration: none;
			text-transform: uppercase;
			padding: 16px 0;
			font-weight: 400;

			&:hover {
				color: $nav-txt-hover !important;
			}

			&.active {
				color: $nav-txt-hover !important;

				&::before {
					position: absolute;
					bottom: 5px;
					left: 50%;
					height: 2px;
					width: 100%;
					background: $nav-underline;
					transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1);
					content: '';
					transform: translate(-50%, 50%);
				}
			}

			&:not(.active)::before {
				position: absolute;
				bottom: 5px;
				left: 50%;
				height: 2px;
				width: 0%;
				background: $nav-underline;
				transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1);
				transform: translate(-50%, 50%);
				content: '';
			}


			&:not(.active):hover::before {
				width: 100%;
				transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1);
			}

		}
	}
}

@media (max-width: 767px) {
	.bar {
		position: fixed;
		top: 0;
		left: 0;
		height: 75px;
		width: 100%;
		background: $nav-bg;
	}

	.nav-img {
		width: 250px;
		height: 75px;
		position: absolute;
		padding: 10px;

		&>img {
			width: 100%;
			height: 100%;
		}
	}

	.menu {
		position: fixed;
		z-index: 99999;
		right: 16px;
		top: 16px;
		height: 40px;
		width: 40px;
		cursor: pointer;
		@include transition-ease(0.5);

		&burger {
			position: absolute;
			right: 6px;
			top: 16px;
			width: 24px;
			height: 2px;
			background: $nav-burger;
			@include transition-ease(0.5);

			&::before {
				content: '';
				position: absolute;
				top: -7px;
				width: 24px;
				height: 2px;
				background: $nav-burger;
				@include transition-ease(0.5);
			}

			&::after {
				content: '';
				position: absolute;
				top: 7px;
				width: 20px;
				height: 2px;
				background: $nav-burger;
				@include transition-ease(0.5);
			}

			&.open {
				transform: rotate(720deg);
				background: transparent;
				right: 3px;

				&::before {
					transform: rotate(45deg) translate(3px, 7px);
				}

				&::after {
					width: 24px;
					transform: rotate(-45deg) translate(3px, -7px);
				}
			}
		}
	}

	nav {
		opacity: 0.98;
		visibility: hidden;
		max-width: 375px;
		width: 100%;

		&.open {
			visibility: visible;
		}

		.menu-nav {
			flex-direction: column;
			align-items: center;
			height: 100vh;
			background-color: $nav-bg;
			list-style: none;
			transform: translatex(100%);
			padding-top: 75px;
			@include transition-ease(0.5);

			&.open {
				transform: translatex(0%);
			}

			&-item {
				@for $i from 2 through 4 {
					&:nth-child(#{$i}) {
						transition: all 0.3s calc(($i * 0.1s) + 0.2s) cubic-bezier(0, 0.70, 0, 1);
					}
				}

				transform: translateX(50vw);

				&.open {
					transform: translate(0);
				}
			}

			&-link {
				display: inline-block;
				font-size: 1.5rem;

				&:hover {
					color: $nav-txt-hover !important;
					font-weight: 400;
				}
			}

			&>li {
				text-align: center;
			}

			&-img {
				display: none;
			}
		}
	}
}

@media (min-width: 768px) {
	.nav-img {
		display: none;
	}

	nav {
		opacity: 1;
		width: 100%;

		.menu-nav {
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			background: $nav-bg;

			&-item {
				list-style: none;
				position: relative;
				height: 50px;
			}

			&-link {
				display: flex;
				font-size: 1.2rem;
			}

			&-img {
				list-style: none;
				display: flex;
				flex-grow: 0.8;
				justify-content: flex-start;

				@media (max-width: 900px) {
					flex-grow: 0;
				}

				&>img {
					height: 75px;
					padding: 5px;
				}
			}
		}
	}
}

.dd-menu {
	height: 0px;
	background: $nav-bg3;
	overflow: hidden;
	z-index: 3;
	@include transition-ease(0.5);

	@media (min-width: $md) {
		position: absolute;
		width: 100%;
		// margin-top: 5px;
		background: $nav-bg;
		border-radius: 0px 0px 7px 7px;
	}

	&>li>a {
		color: $nav-txt !important;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: center;

		&:hover {
			background: $nav-bg2;
			color: $nav-txt-hover;
			@include transition-ease(0.2)
		}

		@media (min-width: $md) {
			&:hover {
				background: $nav-bg2;
				@include transition-ease(0.2)
			}
		}
	}

	//* Voor elke dropdown die er is moet je een nieuwe class toevoegen die hieronder in de comments staat
	// &.show[name='1'] {
	//     height: calc(54px * $submenu-items1);
	//     overflow: hidden;
	// }
	&.show[name='1'] {
		height: calc(54px * $submenu-items1);
		overflow: hidden;
	}

	&.show[name='2'] {
		height: calc(54px * $submenu-items2);
		overflow: hidden;
	}
}

.diensten>li>a {
	padding: 12px 6px;
}

nav {
	.search-nav {
		display: none;
		align-items: center;
		justify-content: center;

		&>input {
			padding: 20px;
			border-radius: 50px;
			border: 0;
			margin-right: 5px;
			background: $nav-bg2;

			@media (max-width: 1024px) {
				width: 100px;
			}

			@media (max-width: 768px) {
				width: 50%;
			}

			&::placeholder {
				color: $nav-txt;
				font-family: $font;
				font-weight: 500;
			}
		}

		&>button {
			padding: 15px;
			border-radius: 50px;
			border: 0;
			@include transition-ease(0.15);
		}
	}

	.social-media {
		display: none;
		align-items: center;
		justify-content: center;

		@media (min-width: 1024px) {
			margin-left: -30px;
		}

		&>img {
			padding: 0 10px;
		}
	}
}

nav .open>a,
nav .open>a:hover,
nav .open>a:focus {
	background: transparent;
}