.container {
	display: flex;
	justify-content: center;
	align-items: end;
	padding: 1rem;
	flex-direction: column;
	gap: 1rem;

	.item {
		padding: 2rem;
		background-color: #74398E;
		margin: 0 auto;

		.reservations th,
		.reservations td {
			border: 1px solid #ddd;
			padding: 8px;
			color: white;
			white-space: pre;
		}

		.centerCheckbox {
			text-align: center;
		}

		.reservations th {
			padding-top: 12px;
			padding-bottom: 12px;
			text-align: left;
			background-color: #04AA6D;
		}

		.reservations tr:nth-child(even) {
			background-color: #a33bcf;
		}

		.reservations tr:nth-child(odd) {
			background-color: #74398E;
		}

		.reservations tr:hover {
			background-color: #662483;
		}
	}
}