$font: 'exo 2', sans-serif, monospace;

@mixin transition-ease($i) {
	transition: all #{$i}s ease-in-out;
}

$nav-txt: white;
$nav-txt-hover: white;

$nav-height: 80px;

// $nav-bg: #662483;
$nav-bg: white; //#662483

$nav-item-bg: #74398E;
$nav-item-bg-hover: #a33bcf;

$nav-burger: white;
$nav-underline: white;

.footer {
	background: #1F1F1F;
	padding: 2rem 1.5rem 1rem 1.5rem;
	color: white;

	.content {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1rem;

		.makers {
			display: flex;
			width: 50%;
			flex-direction: column;
			gap: 0.5rem;

			.links {
				color: white;
				margin: 0.2rem 0;
				width: fit-content;
				font-size: 1.1rem;
			}

			span {
				.fa-brands {
					color: white;
				}

				.fa-solid {
					color: #0a66c2;
				}
			}
		}

		.logos {
			display: flex;
			justify-content: flex-end;
			gap: 1rem;
			width: 50%;
			align-items: center;

			.logo {
				max-width: 50%;

				&.techlab {
					filter: invert(1);
				}
			}
		}
	}

	.copyright {
		font-size: 1.1rem;
		margin-top: 1rem;
		text-align: center;
	}
}