$font: 'exo 2', sans-serif, monospace;

@mixin transition-ease($i) {
	transition: all #{$i}s ease-in-out;
}

$nav-txt: white;
$nav-txt-hover: white;

$nav-height: 80px;

// $nav-bg: #662483;
$nav-bg: white; //#662483;

$nav-item-bg: #74398E;
$nav-item-bg-hover: #a33bcf;

$nav-burger: black;

.social-media {
	background: #1F1F1F;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 5px;

	.email {
		color: white;
		text-decoration: none;
		font-size: 15px;
		height: 30px;
		padding: 0 15px;
		display: flex;
		align-items: center;
	}

	hr {
		height: 30px;
	}

	.social-media-item {
		color: white;
		line-height: 0;
		font-size: 25px;
		padding: 0 15px;

		.icon {
			font-size: 30px;
		}
	}
}

.navbar {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 9999;

	.menu-nav {
		position: relative;
		height: $nav-height;
		transition: min-height 0.5s ease-in-out;
		min-height: 0vh;
		padding: 10px 7vw;
		background-color: $nav-bg;
		// background-image: linear-gradient(#74398E, #582a6d);
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style: none;
		overflow-y: hidden;

		.menu-nav-item {
			display: flex;

			.menu-nav-link {
				padding: 15px;
				margin: 0 5px;
				background-color: $nav-item-bg;
				text-align: center;
				color: $nav-txt;
				font-size: 1.5rem;
				text-decoration: none;

				&:hover {
					background-color: $nav-item-bg-hover;
				}
			}

			.menu-nav-img {
				flex-grow: 0.5;
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					height: 70px;
				}
			}
		}

		.menu {
			display: none;
		}
	}
}

@media (max-width: 950px) {

	.navbar {

		.menu-nav {
			flex-direction: column;
			justify-content: flex-start;

			.menu-nav-item {
				display: flex;
				flex-direction: column;

				&:nth-child(3) {
					position: absolute;
					top: 5px;
				}

				&:nth-child(2) {
					margin-top: calc($nav-height + 15px);
				}

				.menu-nav-link {
					margin: 15px;

					&:hover {
						background-color: $nav-item-bg-hover;
					}
				}

				.menu-nav-img {
					flex-grow: 0.5;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}

			&.expanded {
				min-height: calc(100vh - 40px);

				.menuburger {
					transform: rotate(720deg);
					background: transparent;
					right: 3px;

					&::before {
						transform: rotate(45deg) translate(3px, 7px);
					}

					&::after {
						width: 30px;
						transform: rotate(-45deg) translate(3px, -7px);
					}
				}
			}

			.menu {
				display: block;
				position: absolute;
				top: calc($nav-height/2 - 20px);
				right: 16px;
				height: 40px;
				width: 40px;
				cursor: pointer;
				z-index: 99999;
				@include transition-ease(0.5);

				&burger {
					position: absolute;
					right: 6px;
					top: 16px;
					width: 30px;
					height: 3px;
					background: $nav-burger;
					@include transition-ease(0.5);

					&::before {
						content: '';
						position: absolute;
						top: -7px;
						width: 30px;
						height: 3px;
						background: $nav-burger;
						@include transition-ease(0.5);
					}

					&::after {
						content: '';
						position: absolute;
						top: 7px;
						width: 20px;
						height: 3px;
						background: $nav-burger;
						@include transition-ease(0.5);
					}
				}
			}
		}
	}
}