.container {
	display: flex;
	justify-content: center;
	align-items: end;
	padding: 1rem;
	flex-direction: column;
	gap: 1rem;

	.item {
		padding: 2rem;
		background-color: #74398E;
		margin: 0 auto;

		.centerCheckbox {
			text-align: center;
		}


		.reservations {

			th,
			td {
				border: 1px solid #ddd;
				padding: 8px;
				color: white;
				white-space: pre;
			}

			th {
				padding-top: 12px;
				padding-bottom: 12px;
				text-align: left;
				background-color: #04AA6D;
			}

			tbody {
				tr {
					&:nth-child(even) {
						background-color: #a33bcf;
					}

					&:nth-child(odd) {
						background-color: #74398E;
					}

					&:hover {
						// background-color: #662483;
						background-color: #47125e;
					}

					td {
						&.pending {
							background-color: #f0ad4e;
						}

						&.approved {
							background-color: #5cb85c;
						}

						&.rejected {
							background-color: #d9534f;
						}
					}
				}
			}
		}
	}
}