<div class="swiper">
	<div class="swiper-wrapper" [formGroup]="form">
		<div class="swiper-slide" *ngFor="let room of items; let i = index">
			<div class="swiper_item">
				<span>{{items[i].title}}</span>
				<img src="/assets/images/{{items[i].image}}" alt="">
				<div class="controllers" *ngIf="selectBox" [formArrayName]="controlName">
					<input type="checkbox" class="btn_check" [formControlName]="i">
				</div>
				<div class="controllers" *ngIf="!selectBox">
					<button type="button" class="btn_add" (click)="increaseValue(i)">
						<fa-icon [icon]="faPlusIcon"></fa-icon>
					</button>
					<span>{{getControls.controls[i].value}}</span>
					<button type="button" class="btn_remove" (click)="decreaseValue(i)">
						<fa-icon [icon]="faMinusIcon"></fa-icon>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="swiper-pagination"></div>
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
	<!-- <div class="swiper-scrollbar"></div> -->
</div>