.social-media {
	background: #1F1F1F;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 5px;

	.email {
		color: white;
		text-decoration: none;
		font-size: 15px;
		height: 30px;
		padding: 0 15px;
		display: flex;
		align-items: center;
	}

	hr {
		height: 30px;
	}

	.social-media-item {
		color: white;
		line-height: 0;
		font-size: 25px;
		padding: 0 15px;

		fa-icon {
			font-size: 30px;
		}
	}
}